button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    
}
a{
    color: #fff;
    text-decoration: none;
}
button:hover{
    background-color: darkblue;
    border: 5px solid  violet;
}


